-e file:.
cmdstanpy
cook-build>0.2.1
git+https://github.com/gstonge/fasttr.git@787d0d273ecc21843889a5b4ce3c763110595f28
flake8
matplotlib
jupyterlab
jupytext
pip-tools
pandas
pybind11
pytest
pytest-cov
git+https://github.com/tillahoffmann/snippets.git@045d0ce
shapely
tqdm
