name: Summary Statistics
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  cmdstanVersion: "2.31.0"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: pip
      - name: Pre-install packages that are build requirements.
        run: |
          pip install `grep pybind11== requirements.txt` `grep wheel== requirements.txt`
          pip install --no-build-isolation `grep -oE 'git\+.*?fasttr.git@\w+' requirements.txt`
          pip install --extra-index-url https://download.pytorch.org/whl/cpu --no-compile --no-deps \
            `grep torch== requirements.txt` \
            `grep typing-extensions== requirements.txt` \
            `grep mpmath== requirements.txt` \
            `grep sympy== requirements.txt`
      - name: Install Python dependencies.
        run: pip install --extra-index-url https://download.pytorch.org/whl/cpu --no-compile --no-deps -r requirements.txt
      - name: Cache cmdstan.
        uses: actions/cache@v3
        with:
          path: /home/runner/.cmdstan
          key: cmdstan-${{ env.cmdstanVersion }}
      - name: Install cmdstan.
        run: python -m cmdstanpy.install_cmdstan --version ${{ env.cmdstanVersion }}
      - name: Lint the code.
        run: flake8
      - name: Run the tests.
        run: pytest --cov=summaries --cov-report=term-missing --cov-fail-under=100
